* { 
    box-sizing: border-box; 
    margin: 0; 
    outline: 0; 
    font-family: 'Times New Roman', serif; 
} 
 
.head{ 
    height: 6rem; 
    background-image: url("source/img/banner.jpeg"); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
.head h1{ 
    font-size: 2.5rem; 
    color: rgb(5, 12, 217); 
    text-shadow: 2px 2px black; 
} 
 
.opcoes{ 
    height: 2.5rem; 
    background-color: rgb(1, 89, 113); 
} 
 
.opcoes ul{ 
    height: 100%; 
    display: flex; 
    padding: 0; 
    justify-content: space-around; 
    align-items: center; 
} 
 
.opcoes ul li{ 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
} 
 
.opcoes ul li:hover{ 
    background-color: rgb(147, 157, 173); 
    cursor: pointer; 
} 
 
.opcoes ul a{ 
    font-weight: bold; 
    font-size: 2rem; 
    color: rgba(9, 163, 229, 0.724); 
    text-decoration: none; 
} 
 
.inicio{ 
    padding: 15px; 
    font-size: 1.2rem; 
} 
 
.inicio article{ 
    padding-bottom: 40px; 
}  
 
.atuacao ol{ 
    list-style-type: upper-roman; 
} 
 
.modalidades ul{ 
    list-style-type: square; 
} 
/**/ 
 
.curso{ 
    height: calc(100% - 12.5rem); 
    padding: 15px; 
} 
 
table, th, td{ 
    border: 1px solid #000; 
    border-collapse: collapse; 
    text-align: center; 
} 
 
.table{ 
    width: 100%; 
} 
 
.table tr{ 
    height: 50px; 
} 
 
/**/ 
 
#perguntas ol li{ 
    padding-top: 15px; 
} 
 
.faq section{ 
    padding-bottom: 100vh; 
} 
/**/ 
 
.sugestao{ 
    display: grid; 
    grid-template-rows: auto auto; 
} 
 
#sugestao{ 
    height: 5rem; 
} 
 
.botao{ 
    font-size: 1rem; 
    color: #fff; 
    background-color: rgb(1, 50, 123); 
    height: 6rem; 
    width: 6rem; 
    border-radius: 100rem; 
} 
 
.contato form{ 
    padding: 15px; 
} 
 
.contato fieldset{ 
    display: flex; 
    flex-direction: column; 
    height: 70vh; 
    font-size: 1.5rem; 
    gap: 20px; 
} 
 
.contato div, .contato input{ 
    font-size: 1.5rem; 
    font: bolder; 
} 
 
.contato input{ 
    font-family: sans-serif; 
} 
 
/**/ 
 
footer{ 
    position: fixed; 
    color: white; 
    height: 4rem; 
    width: 100%; 
    background-color: rgb(1, 50, 123); 
    font-size: 1.8rem; 
    display: flex; 
    align-items: center; 
    bottom: 0; 
}